@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,800;1,300;1,400;1,500;1,800&display=swap');

:root {
  font-size: 16px;
  --lightest: rgb(255, 236, 210);
  --yellow-light:rgb(255,218,166);
  --yellow-med-light: rgb(255,206,135); 
  --yellow-med-dark: rgb(255,188,91);
  --yellow-dark:rgb(254,165,0);
  --darkest: rgb(90, 60, 4);
}

body {
  background: var(--lightest);
}

* {
  /* text-transform: capitalize; */
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

*:focus {
  outline: 2px solid var(--lightest);
}

h1, h2, h3, h4, h5 {
  margin: 0;
  color: var(--darkest);
  text-transform: capitalize;
}

p {
  margin: 0;
  color: var(--darkest);
}

#commune {
  margin: 160px 0 60px 0;
  /* position: absolute; */
  width: 100%;
  /* top: 0px; */

}

#videos {
  background-color: var(--yellow-light);
  min-height: 30vh;
  display: flex;
  /* display: none; */
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
}

#video-corral {
  background-color: var(--yellow-med-light);
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.user-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.video-frame {
  max-width: 160px;
  max-height: 160px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}


#messaging {
  background-color: var(--yellow-light);
  min-height: 30vh;
  padding: 2rem;
}

#chat {
  background-color: var(--yellow-light);
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
}

video {
  width: 150%;
}

#branding {
  background-color: var(--yellow-dark);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 160px;
  padding: 2rem 2rem 0 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

#footer {
  background-color: var(--yellow-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 2rem;
  position: fixed;
  left: 0;
  bottom: 0;
}

#footer p {
  color: var(--lightest);
}

#login {
  background-color: var(--lightest);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

#userNameForm {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

#userNameInputField {
  width: 80%;
  padding: .5rem;
  background: var(--yellow-light);
  color: var(--darkest);
}

#userNameInputField:focus,
#userNameSubmit:focus {
  outline: 1px solid orange;
}

#userNameSubmit {
  width: calc(20% - .5rem);
  padding: .5rem;
  background: var(--darkest);
  color: var(--lightest);
}

#mySection {
  padding: 0 2rem 2rem 2rem;
  position: fixed;
  top: 1rem;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-transform: capitalize;
}

#mySection p {
  color: var(--lightest);
}

.copyButton {
  border: 1px solid var(--darkest);
  background-color: orange;
  color: var(--darkest);
  font-size: .75rem;
  padding: .25rem;
  margin-top: .5rem;
  width: 100%;
}

.copyButton:hover {
  text-decoration: underline;
}

.copyButton:active {
  box-shadow: 0 0 3px var(--darkest);
}

#online {
  background: orange;
  min-height: 100px;
  padding: 2rem;
  /* display: none; */
}

.other {
  padding: 2rem;
  background-color: rgba(0,0,0, .25);
  margin: 0 0 1rem 0;
}

.me {
  padding: 2rem;
  background-color: rgba(255,255,255, .25);
}

h1 {
  font-size: 3rem;
  color: var(--yellow-light);
  color: var(--lightest);
  margin: 0 0 .5rem 0;
}

h2 {
  font-size: 1.5rem;
  color: var(--darkest);
}

h3 {
  font-size: 1rem;
}

p {
  font-size: .75rem;
}

#chat-main {
  height: 100%;
  /* border: 1px dotted black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--yellow-med-light);
  padding: 1rem;
}

#chat-main-messages {
  height: 100%;
  min-height: 20vh;
  background-color: var(--yellow-light);
  padding: 1rem;
}

.chat-message {
  background: rgba(255,255,255,.2);
  border: 1px dashed black;
  padding: .5rem;
  margin: 0 0 .5rem 0;
}

#chat-form {
  margin: .5rem 0 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#chat-form-field {
  width: calc(100% - (200px + .5rem)); 
  background: var(--lightest);  
}

#chat-form-button {
  width: 200px;
  background: var(--darkest);
  color: var(--lightest);
}

/*  messaging */

#messaging-main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: .5rem 0 0 0;
}

#messaging-targets {
  width: 15%;
  min-height: 22vh;
  background: var(--yellow-med-light);
  padding: 1rem;
}

#currentUsers {
  height: 100%;
}

#messaging h3 {
  margin: 0 0 .5rem 0;
}

#target-history {
  background: var(--yellow-med-light);
  padding: 1rem;
  width: calc(85% - 1rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

#targetDM-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

#targetDM-history {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 1rem;
  background: rgba(255,255,255,.2);
}

#messager {
  width: 100%;
  /* background: rgba(0,0,0,.25); */
  margin: 10px 0 0 0;
}

#dm-form {
  display: flex;
  justify-content: space-between;
}

#dm-form-field {
  width: 80%;
  background: var(--lightest);
}

#dm-form-button {
  width: calc(20% - .5rem);
  background: var(--darkest);
  color: var(--lightest);
}

.message {
  background: rgba(255,255,255,.2);
  border: 1px dashed black;
  padding: 1rem;
}

.message-text {
  font-weight: bold;
  font-size: 1rem;
}

.message-deets {
  font-style: italic;
  font-size: .8rem;
}

.message-partner {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: var(--yellow-med-dark); */
  border: 1px dashed var(--darkest);
}


/* Login Form */
